.auth-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.auth-links__link-item {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 3px;
}

.auth-links__link-item_color_green {
  padding: 0 20px;
  background-color: #2be080;
}

.auth-links__link {
  line-height: 16px;
  text-decoration: none;
  transition: 0.3s;
  color: #000;
  font-weight: 500;
  font-size: 12px;
}
.auth-links__link_white {
  color: #fff;
}

.auth-links__link:hover {
  opacity: 70%;
}

.auth-links__link-item_color_green > .auth-links__link {
  color: #000000;
}

@media (max-width: 414px) {
  .auth-links {
    gap: 14px;
  }

  .auth-links__link {
    font-size: 10px;
  }

  .auth-links__link-item {
    height: 26px;
  }

  .auth-links__link-item_color_green {
    padding: 0 12px;
  }
}
