.card-movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 70px auto 0;
}

.movies__more {
  color: #000;
  background: #f9f9f9;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 15px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  margin: 60px auto 100px;
  width: 320px;
  height: 36px;
  border: none;
  cursor: pointer;
}

.movies__more:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .card-movies-list {
    gap: 30px;
  }

  .movies__more {
    margin: 80px auto 100px;
  }
}

@media (max-width: 425px) {
  .card-movies-list {
    gap: 14px;
  }
}
