.movies-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px 8px;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  border-radius: 6px;
}

.movies-card__text {
  font-weight: 400;
  margin: 0;
}

.movies-card__title {
  color: #000;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movies-card__time {
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
  padding-left: 16px;
}

.movies-card__btn {
  background-image: url(../../images/like.svg);
  background-color: #fff;
  transition: opacity 0.3s;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 30px;
  height: 30px;
  align-self: center;
  margin: -7px 0 0 0;
  cursor: pointer;
}

.movies-card__btn-save {
  color: #fff;
  padding: 9px 15px;
  font-size: 12px;
  line-height: 11px;
}

.movies-card__btn-save_active {
  background-image: url(../../images/like-active.svg);
  opacity: 1;
}

.movies-card__btn-delete {
  transition: opacity 0.3s;
  padding: 0;
  border: 0;
  background-color: #fff;
  background-image: url(../../images/delete-card.svg);
  object-fit: contain;
  width: 30px;
  height: 30px;
  align-self: center;
}

@media (max-width: 768px) {
  .movies-card__image {
    height: 190px;
  }
}

@media (max-width: 414px) {
  .movies-card__image {
    height: 168px;
  }
}
