.popups {
  position: absolute;
  top: 100px;
  right: -100%;
  width: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
}

.popups__luck {
  border-color: #2be080;
  background-color: #2be080;
}

.popups__error {
  border-color: #ff3055;
  background-color: #ff3055;
}

.popups__text {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  margin: 0;
  padding: 10px;
}

.popups-show {
  animation: show 4s ease-in-out;
}

@keyframes show {
  0% {
    right: -100%;
  }

  35% {
    right: 50px;
  }

  100% {
    display: none;
    right: 50px;
  }
}
