.profile {
  display: grid;
  grid-template:
    "header" 74px
    "info" 1fr / 100%;
  height: 100vh;
}

.profile__container {
  grid-area: info;
  display: grid;
  grid-template-columns: 410px;
  grid-template-rows: 152px repeat(2, 1fr);
  margin: 74px auto 70px auto;
}

.profile__text {
  color: #000;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__text_marked {
  font-weight: 500;
}

.profile__text_color {
  color: #ff3055;
}

.profile__title {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}

.profile__message {
  margin-bottom: 30px;
}

.profile__info {
  padding: 0;
  margin: 0;
}

.profile__info-item {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  min-height: 30px;
}

.profile__info-item:last-of-type {
  margin: 0;
  border: none;
}

.profile__input {
  text-align: right;
  border: none;
  background: none;
}

.profile__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 12px;
  list-style: none;
}

.profile__btn {
  font-size: 13px;
  line-height: 16px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.profile__btn_disabled {
  opacity: 70%;
}

.profile__btn:hover {
  opacity: 70%;
}

@media (max-width: 768px) {
  .profile__container {
    grid-template-rows: 126px repeat(2, 1fr);
    transform: translateY(-20px);
    align-self: center;
    height: 455px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .profile__container {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 109px repeat(2, 1fr);
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-end;
    min-width: unset;
    min-height: calc(100% - (70px + 40px));
    margin-bottom: 20px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__btns {
    align-self: flex-end;
  }

  .profile__btn {
    line-height: 15px;
    font-size: 12px;
  }
}
