.navigation {
  background: #fff;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -200%;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 144px 20px 55px;
  transition: all 0.7s ease;
}

.navigation_active {
  right: 0;
}

.navigation__list {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation__link {
  color: #000;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  padding-bottom: 7px;
  border-bottom: 2px solid #000;
}

.navigation__list-item {
  margin-bottom: 24px;
}

.navigation__list-item:last-of-type {
  margin-top: auto;
  margin-bottom: 0;
}

.navigation__link:last-of-type {
  font-size: 13px;
  line-height: 1.14;
}

.navigation__img-profile {
  width: 11.5px;
  height: 14px;
  margin: 0 8px 0 24px;
}

@media screen and (min-width: 768px) {
  .navigation {
    width: 68%;
    padding-top: 159px;
    padding-bottom: 92px;
  }

  .navigation::before {
    background-color: #000;
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .navigation__list-item {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .navigation {
    background-color: transparent;
    position: static;
    text-align: left;
    width: 100%;
    margin: 0 0 0 44px;
    padding: 0;
  }

  .navigation::before {
    position: static;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
  }

  .navigation__link_active {
    font-weight: 500;
    border: none;
    padding: 0;
  }

  .navigation__list-item {
    margin: 0 16px 0 0;
  }

  .navigation__list-item:last-of-type {
    margin: 0 0 0 auto;
  }

  .navigation__list-item:first-of-type {
    display: none;
  }
}
