.search-form {
  display: flex;
  flex-direction: column;
}

.search-form__input {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  width: 100%;
  font-style: normal;
  padding: 0;
  border: none;
}

.search-from__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0 15px;
  margin: 0 0 30px;
  border-bottom: 1px solid #424242;
}

.search-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.search-form__button:hover {
  opacity: 0.7;
}

.filter-checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 14px;
  padding-bottom: 48px;
}

.filter-checkbox__label {
  width: 36px;
  height: 20px;
  position: relative;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e5cccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.filter-checkbox__toggle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle {
  background-color: #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle:before {
  background-color: #fff;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.filter-checkbox__change {
  border-radius: 20px;
}

.filter-checkbox__change:before {
  border-radius: 50%;
}

.filter-checkbox__text {
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  margin: 0;
}

@media (max-width: 768px) {
  .search-from__container {
    padding: 80px 0 15px;
  }

  .filter-checkbox {
    padding-bottom: 60px;
  }
}

@media (max-width: 425px) {
  .search-form__button_primary {
    display: none;
  }

  .search-form__input {
    text-align: left;
    line-height: 22px;
    font-size: 18px;
  }

  .search-from__container {
    margin: 0 0 35px;
    padding: 88px 0 15px;
  }

  .filter-checkbox {
    padding-bottom: 20px;
  }

  .filter-checkbox__text {
    line-height: 18px;
    font-size: 11px;
  }
}
