.search-form {
  grid-area: search;
  border-bottom: 1px solid #fff;
  padding: 52px 0 44px 0;
  margin: 0 62px 0 50px;
}

.search-form__container {
  display: grid;
  grid-template: "search button" auto / 1fr min-content;
  column-gap: 30px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  padding: 19px;
  padding-right: 0;
  border-bottom: #e6e6e6;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-form__text {
  color: #000;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.search-form__input {
  color: #000;
  line-height: 34px;

  grid-area: search;
  width: 100%;
  background: none;
  border: none;
  font-size: 28px;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__input_error::placeholder {
  color: #ee3465;
}

.search-form__checkbox {
  display: flex;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  grid-area: checkbox;
  align-items: center;
  gap: 14px;
  background-color: #fff;
  padding: 25px 30px 0 19px;
}

.search-form__btn {
  background-image: url("../../images/find-button.svg");
  background-color: #fff;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  min-height: 34px;
  border: none;
  padding: 0;
  box-sizing: content-box;
  padding-right: 30px;
  cursor: pointer;
  grid-area: button;
}

@media (max-width: 768px) {
  .search-form {
    margin: 0 30px 0 30px;
    padding: 80px 0 110px 0;
  }

  .search-form__btn {
    padding-right: 19px;
  }

  .search-form__checkbox {
    padding: 0 20px;
  }
}

@media (max-width: 515px) {
  .search-form {
    margin: 0 10px 0 10px;
    padding: 80px 0 0 0;
    flex-wrap: wrap;
  }

  .search-form__container {
    padding: 19px;
    border-radius: 9px;
  }

  .search-form__btn {
    padding: 0;
    border: none;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    margin: 0;
  }

  .search-form__checkbox {
    padding: 45px 0;
    background-color: transparent;
  }

  .search-form__text {
    line-height: 18px;
    font-size: 11px;
  }

  .search-form__input::placeholder {
    line-height: 20px;
    font-size: 14px;
  }
}
