.filter-checkbox__label {
  display: flex;
  cursor: pointer;
}

.filter-checkbox__toggle {
  background-color: #e5cccc;
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
}

.filter-checkbox__toggle::after {
  background-color: #2be080;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s;
}

.filter-checkbox__change {
  background: #ffffff;
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
}

.filter-checkbox__input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.filter-checkbox__input:checked + .filter-checkbox__toggle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.filter-checkbox__input:checked
  + .filter-checkbox__toggle
  > .filter-checkbox__change {
  left: 50%;
}
