.about-project {
  max-width: 1140px;
  margin: 0 auto;
  padding: 70px 18px 60px;
}

.about-project__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  font-style: normal;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0 0 28px 0;
  border-bottom: 1px solid #000;
}

.about-project__description {
  display: grid;
  row-gap: 56px;
  padding: 60px 0;
}

.about-project__text {
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  line-height: 1.45;
  margin: 0;
  padding: 0;
}

.about-project__text-span {
  display: block;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.about-project__weeks {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.about-project__item {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 11px 26px;
}

.about-project__item:first-of-type {
  background: #2be080;
  color: #000;
  font-weight: 400;
}

.about-project__item:nth-of-type(2) {
  background: #f2f2f2;
  color: #000;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .about-project {
    padding: 90px 50px 80px;
  }

  .about-project__title {
    font-size: 22px;
    padding-bottom: 20px;
  }

  .about-project__description {
    padding-top: 70px;
    padding-bottom: 93px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__text-span {
    font-size: 20px;
    margin-bottom: 22px;
  }

  .about-project__weeks {
    row-gap: 5px;
  }

  .about-project__item {
    font-size: 14px;
    padding: 9px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .about-project {
    padding-top: 110px;
    padding-bottom: 100px;
  }

  .about-project__description {
    padding-bottom: 110px;
    column-gap: 40px;
  }

  .about-project__text {
    line-height: 1.43;
    font-size: 14px;
  }

  .about-project__text-span {
    margin-bottom: 26px;
  }

  .about-project__item {
    padding-left: 82px;
    padding-right: 82px;
  }
}
