.about-project {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(2, min-content);
  gap: 70px 50px;
  grid-area: about-project;
  padding: 135px 70px 0;
}

.about-project__block {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  width: 100%;
}

.about-project__text {
  color: #000;
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about-project__title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  grid-column: span 2;
  border-bottom: 1px solid #000;
}

.about-project__subtitle {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin-bottom: 26px;
}

.about-project__tbl {
  grid-column: span 2;
  margin-top: 40px;
}

.tbl {
  display: inline-block;
  width: 100%;
}

.tbl__row {
  display: flex;
  align-items: center;
}

.tbl__text {
  color: #a0a0a0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  flex-grow: 5;
}

.tbl__text:first-of-type {
  flex-grow: 1;
}

.tbl__text_subtutle {
  margin-top: 14px;
}

.tbl__text_color-grenn {
  font-weight: 400;
  color: #000;
  background-color: #2be080;
  padding: 9px 0;
}

.tbl__text_color-grey {
  font-weight: 400;
  color: #000;
  background-color: #f2f2f2;
  padding: 9px 0;
}

@media (max-width: 768px) {
  .about-project {
    padding: 0 50px;
    gap: 70px 30px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__title {
    font-size: 22px;
    line-height: 27px;
  }

  .about-project__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  .about-project__tbl {
    margin-top: 23px;
  }

  .tbl__text {
    flex-grow: 6;
  }
}

@media (max-width: 414px) {
  .about-project {
    gap: 60px;
    padding: 0 18px;
  }

  .about-project__block {
    grid-column: span 2;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .about-project__tbl {
    margin: 0;
  }

  .tbl__text {
    flex-grow: 3;
    font-size: 11px;
    line-height: 13px;
  }

  .tbl__text_color-grenn {
    padding: 11px 0;
  }

  .tbl__text_color-grey {
    padding: 11px 0;
  }

  .tbl__text_subtutle {
    margin-top: 10px;
  }
}
