.register {
  display: grid;
  grid-template-columns: 396px;
  grid-template-rows: 1fr 266px 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register__text {
  color: #000;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.register__container-question-text_color {
  color: #a0a0a0;
}

.register__text_color {
  color: #ff3055;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0;
  line-height: 29px;
}

.register__btn-submit {
  background-color: #3456f3;
  font-weight: 500;
  width: 100%;
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: 0.3s;
}

.register__btn-submit:hover {
  opacity: 70%;
}

.register__btn-submit_disabled {
  background-color: #4b8cf535;
  opacity: 70%;
}

.register__link {
  color: #3456f3;
  text-decoration: none;
  transition: 0.3s;
}

.register__link:hover {
  opacity: 70%;
}

.register__container-question {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.register__up {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-top: 70px;
}

.register__form {
  align-self: flex-start;
}

.register__down {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .register__down {
    margin-top: 69px;
    align-self: flex-start;
  }
}

@media (max-width: 450px) {
  .register {
    grid-template-columns: 260px;
  }

  .register__up {
    align-self: center;
    align-items: center;
  }

  .register__down {
    margin-bottom: 30px;
    align-self: flex-end;
  }

  .register__text {
    line-height: 15px;
    font-size: 12px;
  }

  .register__title {
    margin: 50px 0;
    font-size: 24px;
    line-height: 29px;
  }
}
