.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  grid-area: footer;
  align-items: center;
  padding: 0 70px;
}

.footer__text {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__text_link-black {
  color: #000;
}

.footer__title {
  margin-bottom: 20px;
  color: #8b8b8b;
}

.footer__copyrights {
  color: #000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__link {
  margin-left: 20px;
}

.footer__link:first-of-type {
  margin: 0;
}

.footer__link {
  transition: 0.2s;
}

.footer__link:hover {
  opacity: 60%;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 30px;
  }
}

@media (max-width: 414px) {
  .footer {
    padding: 0 10px;
  }

  .footer__container {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 0 10px 0;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .footer__link {
    margin: 8px 0 0 0;
  }

  .copyrights {
    color: #8b8b8b;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }
}
