.about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: about-me;
  gap: 67px;
  padding: 0 70px;
}

.about-me__container {
  display: grid;
  align-content: center;
  grid-template-rows: 1fr 300px;
  gap: 100px;
}

.about-me__title {
  display: inline-block;
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin: 136px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  letter-spacing: -0.04em;
}

@media (max-width: 800px) {
  .about-me {
    padding: 0 50px;
  }
}

@media (max-width: 585px) {
  .about-me {
    align-items: center;
    gap: 50px;
    padding: 0 14px;
  }

  .about-me__title {
    min-width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
  }

  .about-me__container {
    display: flex;
    flex-direction: column;
    width: 292px;
    gap: 70px;
  }
}
